<div class="headerTab">
    
    <a router-link='\login'><button class="logoutButton" mat-raised-button color="primary" (click)="logout()">LOG OUT</button></a>
    </div>
<a routerLink ="/"><button class="back" mat-raised-button color="primary">View Previous Records</button></a>
<mat-accordion>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title> Personal Details </mat-panel-title>
            <mat-panel-description> Add Records Here </mat-panel-description>
        </mat-expansion-panel-header>
        
        <form [formGroup]="personalDetailsForm">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option value="Male"> Male </mat-option>
                    <mat-option value="Female"> Female </mat-option>
                    <mat-option value="other"> Other </mat-option>
                </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput type="number" min="1" formControlName="age" />
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Date of Birth</mat-label>
                <input formControlName="dob" matInput [matDatepicker]="picker" (focus)="picker.open()" (click)="picker.open()" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Nationality</mat-label>
                <input matInput formControlName="nationality" />
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Place</mat-label>
                <input matInput formControlName="place" />
            </mat-form-field>
            <br/>
            <mat-form-field>
                <mat-label>Passport Number</mat-label>
                <input matInput formControlName="passportNumber" />
            </mat-form-field>
            <br />
        </form>
        <mat-action-row>
            <button mat-raised-button color="primary" (click)="save()" [disabled]="
                    !personalDetailsForm.valid || personalDetailsForm.pristine
                ">
                SAVE
            </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
